[submodule "auctions-api-simple"]
	path = csharp-api
	url = git@github.com:wallymathieu/auctions-api-simple.git
[submodule "fsharp/auctions-api"]
	path = fsharp-api
	url = git@github.com:wallymathieu/auctions-site.git
[submodule "haskell/auctions-api"]
	path = haskell-api
	url = git@github.com:wallymathieu/auctions-site-haskell.git
[submodule "clojure-api"]
	path = clojure-api
	url = git@github.com:wallymathieu/auctions-api-clojure.git
[submodule "go-api"]
	path = go-api
	url = git@github.com:wallymathieu/auctions-api-go.git
